/*  Initialisation  */
@font-face {
  font-family: "Inter";
  src: url("../Font/framd.ttf"); }

@font-face {
  font-family: "Inter2";
  src: url("../Font/framdit.ttf"); }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 5%;
  box-sizing: border-box;
  background: #F0F0F0;
  /*border: solid 1px red;*/
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 13vh;
  background-color: #F0F0F0;
  position: fixed;
  padding: 0 5%;
  right: 0;
  left: 0;
  box-sizing: border-box;
  flex-direction: column; }
  header .navbar {
    display: block;
    width: 100%;
    height: 100%; }
    header .navbar a {
      text-decoration: none;
      color: #242424;
      font-family: "Inter",sans-serif;
      position: relative; }
    header .navbar .navbar_logo .logo {
      font-weight: 700;
      font-size: 25px;
      color: #242424; }
    header .navbar .navbar_menu {
      width: 500px;
      height: 100%;
      font-weight: 400;
      font-size: 18px;
      text-align: center; }
      header .navbar .navbar_menu .underline::after, header .navbar .navbar_menu a:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #242424;
        box-shadow: 0 2px 0 0; }
      header .navbar .navbar_menu footer {
        visibility: hidden;
        position: absolute; }
    header .navbar .hamburger {
      visibility: hidden;
      position: absolute; }
  header .center-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; }
  header .pos-relative {
    position: relative; }

.main {
  border: solid 1px #15ff00;
  width: 100%;
  height: 100%;
  margin-top: 13vh; }
  .main .section {
    border: solid 1px red;
    width: auto;
    height: 87vh;
    scroll-margin-top: 13vh; }
    .main .section.section_home {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: inherit; }
      .main .section.section_home .content_view {
        border: solid 2px green;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center; }
        .main .section.section_home .content_view .view {
          border: solid 1px aqua; }
          .main .section.section_home .content_view .view.view_ico {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            width: 34px;
            height: 144px; }
            .main .section.section_home .content_view .view.view_ico .ico {
              width: 2vw;
              height: 2vw;
              cursor: pointer; }
          .main .section.section_home .content_view .view.view_salutation {
            width: 450px;
            height: 320px;
            padding: 12px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: right;
            gap: 8px; }
            .main .section.section_home .content_view .view.view_salutation .hello {
              font-family: "Inter";
              color: #242424;
              font-weight: 700;
              font-size: 40px;
              margin-bottom: 5px; }
            .main .section.section_home .content_view .view.view_salutation .span_title {
              display: flex;
              justify-content: left;
              flex-direction: row;
              align-items: center;
              gap: 5px; }
              .main .section.section_home .content_view .view.view_salutation .span_title .span {
                width: 100px;
                height: 2px;
                background: #242424; }
              .main .section.section_home .content_view .view.view_salutation .span_title .title {
                font-family: "Inter";
                color: #585858;
                font-weight: 700;
                font-size: 16px; }
            .main .section.section_home .content_view .view.view_salutation .paragraphe {
              font-family: "Inter";
              color: #585858;
              font-weight: 600;
              font-size: 16px;
              margin-top: 5px; }
            .main .section.section_home .content_view .view.view_salutation .btn_container .btn {
              width: 161px;
              height: 60px;
              padding: 10px;
              border-radius: 8px;
              background: #242424;
              font-family: "Inter";
              color: #F0F0F0;
              font-weight: 400;
              font-size: 16px; }
              .main .section.section_home .content_view .view.view_salutation .btn_container .btn.btn_contact {
                width: 25%; }
          .main .section.section_home .content_view .view.view_image {
            width: 350px;
            height: 350px;
            border-radius: 54% 39% 18% 76% / 50% 63% 25% 48%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            background-color: #dbdbdb;
            overflow: hidden; }
            .main .section.section_home .content_view .view.view_image .image {
              width: 100%;
              height: 100%; }

/**
    RESPONSIVE START
*/
@media (max-width: 575.98px) {
  header {
    height: 10vh; }
    header .navbar .navbar_logo .logo {
      font-weight: 700;
      font-size: 18px; }
    header .navbar .navbar_menu.XS {
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      top: 0px;
      right: 0px;
      left: 0px;
      gap: 35px;
      background-color: #585858;
      font-size: 23px;
      transform: translateX(100%); }
    header .navbar .navbar_menu.open {
      transform: translateX(0%); }
    header .navbar .navbar_menu footer.open {
      visibility: hidden; }
    header .navbar .hamburger {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 20px;
      height: 20px;
      cursor: pointer;
      visibility: visible;
      transform: translateX(-100%); }
      header .navbar .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #242424;
        position: absolute;
        pointer-events: none;
        visibility: visible; }
      header .navbar .hamburger span:nth-child(1) {
        transform: translateY(-7px); }
      header .navbar .hamburger span:nth-child(3) {
        transform: translateY(7px); }
      header .navbar .hamburger.open {
        background: #585858; }
      header .navbar .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(-135deg); }
      header .navbar .hamburger.open span:nth-child(2) {
        opacity: 0; }
      header .navbar .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(135deg); }
  .main {
    display: none; } }

/**
    RESPONSIVE END
*/
