/*  Initialisation  */
@font-face {
  font-family: "Inter";
  src: url("../Font/framd.ttf"); }

@keyframes animationRipplie {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0.2; }
  100% {
    width: 800px;
    height: 800px;
    opacity: 0; } }

@keyframes animationUnderline {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes progress {
  0% {
    width: 0;
    opacity: 0; }
  100% {
    width: 10px;
    opacity: 1; } }

::-webkit-scrollbar {
  display: none; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 7%;
  box-sizing: border-box;
  background: #0d1937;
  /*border: solid 1px red;*/
  display: flex;
  flex-direction: column; }
  body .progress-bar {
    width: 4px;
    height: 10vh;
    background: #3f73e3;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    box-shadow: -2px 0px 13px #3f73e3; }

header {
  width: 100%;
  height: 13vh;
  background-color: #0d1937;
  position: fixed;
  padding: 60px 7%;
  right: 0;
  left: 0;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 98;
  transition: 0.6s linear; }
  header.sticky {
    padding: 50px 7%;
    box-shadow: 0px 1px 4px #050914;
    transition: 0.6s; }
    header.sticky.sticky2 {
      padding: 40px 7%;
      box-shadow: 0px 1px 4px #050811;
      transition: 0.6s; }
  header .navbar {
    display: block;
    width: 100%;
    height: 100%; }
    header .navbar a {
      text-decoration: none;
      color: #cacaca;
      font-family: "Inter",sans-serif;
      position: relative;
      letter-spacing: 2px; }
      header .navbar a.active, header .navbar a:hover {
        color: #3f73e3; }
    header .navbar .navbar_logo .logo {
      font-weight: 700;
      font-size: 25px;
      color: #cacaca;
      text-transform: uppercase; }
    header .navbar .navbar_menu {
      width: 500px;
      height: 100%;
      font-weight: 400;
      font-size: 18px;
      text-align: center; }
      header .navbar .navbar_menu .underline::after, header .navbar .navbar_menu a:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: #3f73e3;
        animation: animationUnderline 150ms linear; }
      header .navbar .navbar_menu footer {
        visibility: hidden;
        position: absolute; }
    header .navbar .hamburger {
      visibility: hidden;
      position: absolute; }
  header .center-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; }
  header .pos-relative {
    position: relative; }

.main {
  width: 100%;
  height: 100%;
  margin-top: 13vh; }
  .main .section {
    width: auto;
    height: 87vh;
    scroll-margin-top: 13vh; }
    .main .section.section_home {
      transition: 4s;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: inherit; }
      .main .section.section_home .content_view {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center; }
        .main .section.section_home .content_view .view.view_ico {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          align-items: center;
          width: 34px;
          height: 144px;
          user-select: none; }
          .main .section.section_home .content_view .view.view_ico .ico {
            width: 2vw;
            height: 2vw;
            cursor: pointer;
            user-select: none; }
        .main .section.section_home .content_view .view.view_salutation {
          width: 450px;
          height: 320px;
          padding: 12px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: right;
          gap: 8px; }
          .main .section.section_home .content_view .view.view_salutation .hello {
            font-family: "Inter";
            color: #cacaca;
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 5px;
            letter-spacing: 2px; }
          .main .section.section_home .content_view .view.view_salutation .span_title {
            display: flex;
            justify-content: left;
            flex-direction: row;
            align-items: center;
            gap: 5px; }
            .main .section.section_home .content_view .view.view_salutation .span_title .span {
              width: 100px;
              height: 2px;
              background: #3f73e3;
              margin-right: 15px; }
              .main .section.section_home .content_view .view.view_salutation .span_title .span.span_2 {
                display: none; }
            .main .section.section_home .content_view .view.view_salutation .span_title .title {
              font-family: "Inter";
              color: #3f73e3;
              font-weight: 500;
              font-size: 18px;
              word-spacing: 3px;
              letter-spacing: 3px; }
          .main .section.section_home .content_view .view.view_salutation .paragraphe {
            font-family: "Inter";
            color: #3f73e3;
            font-weight: 500;
            font-size: 16px;
            margin-top: 5px;
            letter-spacing: 1px;
            word-spacing: 3px; }
          .main .section.section_home .content_view .view.view_salutation .btn_container .btn {
            width: 161px;
            height: 60px;
            padding: 10px;
            border-radius: 8px;
            border: solid 1px #cacaca;
            background: #182643;
            font-family: "Inter";
            color: #0d1937;
            font-weight: 400;
            font-size: 16px;
            transition: 500ms;
            cursor: pointer;
            transition: 300ms ease;
            color: #cacaca; }
            .main .section.section_home .content_view .view.view_salutation .btn_container .btn:active {
              background-color: #0d1937;
              color: #3f73e3;
              border: solid 2px #3f73e3;
              transition: 0s; }
            .main .section.section_home .content_view .view.view_salutation .btn_container .btn.btn_CV {
              margin-left: 10px;
              background: #0d1937;
              color: #cacaca;
              border: solid 1px #cacaca; }
              .main .section.section_home .content_view .view.view_salutation .btn_container .btn.btn_CV:active {
                background: #cacaca;
                color: #0d1937;
                position: inherit; }
        .main .section.section_home .content_view .view.view_image {
          width: 350px;
          height: 350px;
          border-radius: 10%;
          background-color: #182643;
          overflow: hidden;
          transition: 300ms ease-out;
          position: relative;
          display: inline-block;
          user-select: none;
          z-index: 95; }
          .main .section.section_home .content_view .view.view_image .image {
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
            bottom: -30px;
            transition: 400ms linear;
            filter: drop-shadow(40px -20px 50px black);
            z-index: 97; }
          .main .section.section_home .content_view .view.view_image:active {
            background-color: #3f73e3;
            transition: 500ms ease-in;
            z-index: 97; }
          .main .section.section_home .content_view .view.view_image .span {
            position: absolute;
            background-color: #cacaca;
            border-radius: 50%;
            pointer-events: none;
            z-index: 96;
            transform: translate(-50%, -50%);
            animation: animationRipplie 1s linear infinite; }
    .main .section.section_about {
      display: flex;
      justify-content: center;
      flex-direction: center;
      align-items: center; }
      .main .section.section_about .view {
        display: flex; }
        .main .section.section_about .view .view-profile {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: left;
          width: 100%; }
          .main .section.section_about .view .view-profile p {
            font-family: "Inter";
            color: #cacaca;
            font-weight: 500;
            font-size: 15px; }
          .main .section.section_about .view .view-profile h1 {
            font-family: "Inter";
            color: #cacaca;
            font-weight: 700;
            font-size: 30px;
            word-spacing: 10px;
            margin-top: 0px;
            letter-spacing: 1px; }
          .main .section.section_about .view .view-profile .image {
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
            bottom: -30px;
            transition: 400ms linear;
            filter: drop-shadow(40px -20px 50px black); }
          .main .section.section_about .view .view-profile .container-profile {
            width: 350px;
            height: 350px;
            border-radius: 10%;
            background-color: #182643;
            overflow: hidden;
            transition: 300ms ease-out;
            position: relative;
            display: inline-block;
            user-select: none; }
        .main .section.section_about .view .view-presentation {
          padding-left: 30px; }
          .main .section.section_about .view .view-presentation p {
            font-family: "Inter";
            color: #3f73e3;
            font-weight: 500;
            font-size: 16px;
            margin-top: 5px;
            letter-spacing: 1px;
            word-spacing: 3px; }
          .main .section.section_about .view .view-presentation h2 {
            font-family: "Inter";
            color: #cacaca;
            font-weight: 500;
            font-size: 20px; }
          .main .section.section_about .view .view-presentation table {
            width: 100%;
            margin-bottom: 8px;
            background: #182643;
            border-radius: 10px;
            overflow: hidden; }
            .main .section.section_about .view .view-presentation table tr {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              align-items: center;
              padding: 10px;
              border-bottom: solid 1px #0d1937;
              overflow: hidden; }
              .main .section.section_about .view .view-presentation table tr:hover {
                background: #747474;
                border-radius: 8px; }
              .main .section.section_about .view .view-presentation table tr td {
                font-family: "Inter";
                color: #cacaca;
                font-weight: 400;
                font-size: 13px; }
              .main .section.section_about .view .view-presentation table tr:active {
                background: #cacaca; }
          .main .section.section_about .view .view-presentation button {
            width: 161px;
            height: 60px;
            padding: 10px;
            border-radius: 8px;
            border: solid 1px #cacaca;
            background: #182643;
            font-family: "Inter";
            color: #0d1937;
            font-weight: 400;
            font-size: 16px;
            transition: 500ms;
            cursor: pointer;
            transition: 300ms ease;
            color: #cacaca; }
            .main .section.section_about .view .view-presentation button:active {
              background-color: #0d1937;
              color: #3f73e3;
              border: solid 2px #3f73e3;
              transition: 0s; }
    .main .section.section_skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .main .section.section_skills p {
        font-family: "Inter";
        color: #cacaca;
        font-weight: 600;
        font-size: 20px;
        text-align: center; }
      .main .section.section_skills .view {
        display: flex;
        place-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 34px;
        width: 100%; }
        .main .section.section_skills .view div {
          width: 200px;
          min-height: 100px;
          border: solid 2px #cacaca;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1 0 200px;
          transition: all 200ms linear; }
          .main .section.section_skills .view div:hover {
            box-shadow: 0px 1px 4px #cacaca;
            transition: all 200ms linear; }
          .main .section.section_skills .view div img, .main .section.section_skills .view div svg {
            width: 100px;
            height: 100px; }
          .main .section.section_skills .view div .progressbarSkill {
            position: absolute;
            height: 100px;
            background: #3f73e3;
            border: none;
            border-radius: 4px;
            z-index: 30;
            transition: all 10s linear; }
            .main .section.section_skills .view div .progressbarSkill::after {
              content: '80%';
              font-size: 20px;
              color: #0d1937;
              font-family: "inter"; }
          .main .section.section_skills .view div #progressBarSkill0::after {
            content: '80%'; }
          .main .section.section_skills .view div #progressBarSkill1::after {
            content: '70%'; }
          .main .section.section_skills .view div #progressBarSkill2::after {
            content: '40%'; }
          .main .section.section_skills .view div #progressBarSkill3::after {
            content: '15%'; }
          .main .section.section_skills .view div #progressBarSkill4::after {
            content: '30%'; }
          .main .section.section_skills .view div #progressBarSkill5::after {
            content: '15%'; }
          .main .section.section_skills .view div #progressBarSkill6::after {
            content: '5%'; }
          .main .section.section_skills .view div #progressBarSkill7::after {
            content: '30%'; }
          .main .section.section_skills .view div .pourcentage {
            position: relative;
            margin: auto;
            z-index: 40;
            display: none; }
    .main .section.section_project {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main .section.section_project p.title {
        font-family: "Inter";
        color: #cacaca;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 0; }
      .main .section.section_project p.here {
        font-family: "Inter";
        color: #cacaca;
        font-weight: 500;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 20px; }
      .main .section.section_project .viewContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center; }
        .main .section.section_project .viewContainer .prevBtn, .main .section.section_project .viewContainer .nextBtn {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          background: #0d1937;
          z-index: 1; }
        .main .section.section_project .viewContainer .prevBtn {
          transform: translateX(50%); }
          .main .section.section_project .viewContainer .prevBtn:active {
            transform: translateX(40%); }
        .main .section.section_project .viewContainer .nextBtn {
          transform: translateX(-50%); }
          .main .section.section_project .viewContainer .nextBtn:active {
            transform: translateX(-40%); }
        .main .section.section_project .viewContainer .view {
          display: flex;
          flex-direction: row;
          overflow-x: scroll;
          scroll-snap-type: x mandatory;
          gap: 50px;
          place-items: center;
          width: 80vw;
          height: 70vh; }
          .main .section.section_project .viewContainer .view .projetView {
            width: 100%;
            flex: 0 0 250px;
            overflow-x: auto;
            border: solid 1px #3f73e3;
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            scroll-snap-align: center;
            transition: 400ms; }
            .main .section.section_project .viewContainer .view .projetView:hover {
              transform: translateY(-13px);
              transition: 400ms;
              border: solid 1px #cacaca;
              box-shadow: 0px 1px 4px #3f73e3; }
            .main .section.section_project .viewContainer .view .projetView img {
              width: 100%;
              height: auto; }
            .main .section.section_project .viewContainer .view .projetView h3 {
              font-family: "Inter";
              color: #cacaca;
              font-weight: 600;
              font-size: 15px;
              cursor: default;
              z-index: 0; }
            .main .section.section_project .viewContainer .view .projetView p {
              text-align: justify;
              font-family: "Inter";
              color: #cacaca;
              font-weight: 500;
              font-size: 16px;
              cursor: default; }
            .main .section.section_project .viewContainer .view .projetView button {
              width: 161px;
              height: 60px;
              padding: 10px;
              border-radius: 8px;
              border: solid 1px #cacaca;
              background: #182643;
              font-family: "Inter";
              color: #0d1937;
              font-weight: 400;
              font-size: 16px;
              transition: 500ms;
              cursor: pointer;
              transition: 300ms ease;
              width: 80px;
              height: 40px;
              background: #0d1937;
              color: #cacaca;
              border: solid 1px #3f73e3; }
              .main .section.section_project .viewContainer .view .projetView button:active {
                background-color: #0d1937;
                color: #3f73e3;
                border: solid 2px #3f73e3;
                transition: 0s; }
              .main .section.section_project .viewContainer .view .projetView button:active {
                background: #cacaca;
                color: #0d1937;
                position: inherit; }
    .main .section.section_contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main .section.section_contact p:nth-child(1) {
        font-family: "Inter";
        color: #cacaca;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 0; }
      .main .section.section_contact p:nth-child(2) {
        font-family: "Inter";
        color: #cacaca;
        font-weight: 600;
        font-size: 30px;
        margin-top: 0; }
      .main .section.section_contact form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px; }
        .main .section.section_contact form input, .main .section.section_contact form textarea {
          width: 50%;
          height: 30px;
          font-size: 13px;
          border: solid 2px #cacaca;
          border-radius: 5px;
          background-color: #182643;
          color: #cacaca; }
          .main .section.section_contact form input.submit, .main .section.section_contact form textarea.submit {
            width: 161px;
            height: 60px;
            padding: 10px;
            border-radius: 8px;
            border: solid 1px #cacaca;
            background: #182643;
            font-family: "Inter";
            color: #0d1937;
            font-weight: 400;
            font-size: 16px;
            transition: 500ms;
            cursor: pointer;
            transition: 300ms ease;
            width: 100px;
            height: 50px;
            color: #cacaca; }
            .main .section.section_contact form input.submit:active, .main .section.section_contact form textarea.submit:active {
              background-color: #0d1937;
              color: #3f73e3;
              border: solid 2px #3f73e3;
              transition: 0s; }
        .main .section.section_contact form textarea {
          height: 50px;
          resize: none; }

/**
    RESPONSIVE START
*/
@media (max-width: 575.98px) {
  html, body {
    overflow-x: hidden; }
  header {
    height: 10vh; }
    header .navbar .navbar_logo .logo {
      font-weight: 700;
      font-size: 18px; }
    header .navbar .navbar_menu.XS {
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      top: 0px;
      right: 0px;
      left: 0px;
      gap: 35px;
      background-color: #3f73e3;
      opacity: 0.99;
      font-size: 23px;
      transform: translateX(100%);
      transition: transform 200ms ease-in; }
    header .navbar .navbar_menu.open {
      transform: translateX(0%);
      transition: transform 200ms ease-out; }
    header .navbar .navbar_menu footer {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      bottom: 50px; }
      header .navbar .navbar_menu footer.open {
        visibility: visible; }
      header .navbar .navbar_menu footer .container_ico {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 13px; }
        header .navbar .navbar_menu footer .container_ico .ico {
          width: 24px;
          height: 24px; }
      header .navbar .navbar_menu footer .cpright {
        font-size: 13px;
        color: #cacaca; }
    header .navbar .hamburger {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 20px;
      height: 20px;
      cursor: pointer;
      visibility: visible;
      transition: transform 400ms; }
      header .navbar .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #cacaca;
        position: absolute;
        pointer-events: none;
        visibility: visible;
        transition: transform 400ms ease; }
      header .navbar .hamburger span:nth-child(1) {
        transform: translateY(-7px); }
      header .navbar .hamburger span:nth-child(3) {
        transform: translateY(7px); }
      header .navbar .hamburger.open {
        background: #3f73e3; }
      header .navbar .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(-135deg);
        transition: transform 400ms ease; }
      header .navbar .hamburger.open span:nth-child(2) {
        transition: transform 200ms ease;
        opacity: 0; }
      header .navbar .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(135deg);
        transition: transform 400ms ease; }
  .main .section.section_home .content_view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .main .section.section_home .content_view .view {
      width: 40%; }
      .main .section.section_home .content_view .view.view_ico {
        display: none; }
      .main .section.section_home .content_view .view.view_salutation {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0px 1%; }
        .main .section.section_home .content_view .view.view_salutation .hello {
          font-family: "Inter";
          color: #cacaca;
          font-weight: 600;
          font-size: 30px;
          margin-bottom: 5px; }
        .main .section.section_home .content_view .view.view_salutation .span_title {
          display: flex;
          justify-content: left;
          flex-direction: row;
          align-items: center;
          gap: 5px; }
          .main .section.section_home .content_view .view.view_salutation .span_title .span {
            width: 100px;
            height: 1px; }
          .main .section.section_home .content_view .view.view_salutation .span_title .span:nth-child(2) {
            visibility: visible; }
          .main .section.section_home .content_view .view.view_salutation .span_title .title {
            font-family: "Inter";
            color: #3f73e3;
            font-weight: 600;
            font-size: 13px; }
        .main .section.section_home .content_view .view.view_salutation .paragraphe {
          width: 80vw;
          font-family: "Inter";
          color: #3f73e3;
          font-weight: 600;
          font-size: 13px;
          text-wrap: balance;
          text-align: center;
          padding: 0px 3px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center; }
        .main .section.section_home .content_view .view.view_salutation .btn_container .btn {
          font-family: "Inter";
          color: #0d1937;
          font-weight: 400;
          font-size: 13px;
          width: 130px;
          height: 50px; }
          .main .section.section_home .content_view .view.view_salutation .btn_container .btn.btn_contact {
            width: 130px; }
        .main .section.section_home .content_view .view.view_salutation .btn_container .btn:active {
          background-color: #0d1937;
          color: #cacaca;
          border: solid 2px #3f73e3; }
      .main .section.section_home .content_view .view.view_image {
        position: relative;
        width: 60vw;
        height: 60vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        border-radius: 54% 39% 18% 76% / 50% 63% 30% 48%; } }

/**
    RESPONSIVE END
*/
